@using Task.Models;
@model TaskViewModel

@{
    ViewData["Title"] = "ListTasks";
}

<div class="text-center">
    <h1 class="display-1"
        style="font-size:8rem;
        font-weight:700;
        height:210px;
        padding-top:40px;
        margin-top:30px;
        background-color:dodgerblue;
        color:whitesmoke">
        Task List
    </h1>
</div>

<h1 class="mt-5 mb-5">List</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created On</th>
            <th>Comments</th>
            <th>Assigned To</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Status Changed On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks != null)
        {
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.CreatedOn</td>
                    <td>@task.Comments</td>
                    <td>@task.AssignedTo</td>
                    <td>@task.Priority</td>
                    <td>@task.Status</td>
                    <td>@task.StatusChangedOn</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-primary mx-2">
                                <i class="bg-info bi-pencil-square"></i>
                            Edit</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
